{"openapi":"3.0.1","info":{"title":"Bluesoft ERP API","description":"<p>API para Integração com Bluesoft ERP</p>\n<br/>\n<h1>Limite de Requisições em Paralelo</h1>\n<p>Por padrão, limitamos a quantidade de requisições em paralelo para API.</p>\n<p>A nível de sistema o limite padrão é de 50 requisições em paralelo.</p>\n<p>A nível de usuário o limite padrão é de 10 requisições em paralelo.</p>\n<p>Caso haja necessidade de aumentar esse limite, entre em contato com o suporte da Bluesoft.</p>\n<h1>OAuth</h1>\n<p>Exemplo para obter token</p>\n\n<code>\ncurl -X POST 'erp.bluesoft.com.br/{TENANT}/oauth2/token' \\ <br/>\n-H 'Content-Type: application/x-www-form-urlencoded' \\ <br/>\n-H 'Cookie: OAUTH=OAUTH_240' \\ <br/>\n-d 'grant_type=client_credentials' \\ <br/>\n-d 'scope=switch.read' \\ <br/>\n-d 'client_id={CLIENT_ID}' \\ <br/>\n-d 'client_secret={CLIENT_SECRET}'\n</code>\n\n<p>Exemplo de uso do token<p/>\n<code>\ncurl -X GET -H 'Authorization: Bearer {TOKEN}' 'erp.bluesoft.com.br/{TENANT}/api/clientes'\n</code>\n","contact":{"name":"Bluesoft","url":"https://www.bluesoft.com.br","email":"suporte@bluesoft.com.br"},"version":"","x-logo":{"url":"https://bluesoft.com.br/wp-content/uploads/2018/06/Logo-bluesoft.png","altText":"Bluesoft","backgroundColor":"#FFFFFF"}},"servers":[{"url":"https://erp.bluesoft.com.br/{tenant}/api"}],"security":[{"JWT":[]},{"OAUTH":[]}],"paths":{"/venda/pedidovenda/{pedidoVendaKey}/cancelamento":{"put":{"tags":["Pedido de venda balcão"],"summary":"Cancelar pedido","description":"Cancelar pedidos ecommerce com status fechados, em separação ou separados\n\nPermissões necessárias:\n- **[4.112 - API Pedido Venda (Excluir)]**\n","operationId":"cancelar","parameters":[{"name":"pedidoVendaKey","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/varejo/cadastros/parcelamento-impressao-etiquetas/{parcelamentoImpressaoEtiquetaKey}":{"put":{"tags":["Parcelamento Impressão Etiquetas"],"summary":"Editar parcelamento impressão etiquetas","description":"Editar parcelamentos de impressão de etiquetas\n\nPermissões necessárias:\n- **[3.846 - Editar Cadastro de Parcelamento para Impressão de Etiqueta]**\n","operationId":"editar","parameters":[{"name":"parcelamentoImpressaoEtiquetaKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParcelamentoImpressaoEtiquetaForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ParcelamentoImpressaoEtiquetaView"}}}}}},"delete":{"tags":["Parcelamento Impressão Etiquetas"],"summary":"Excluir parcelamento impressão etiquetas","description":"Excluir parcelamentos de impressão de etiquetas\n\nPermissões necessárias:\n- **[3.847 - Excluir Cadastro de Parcelamento para Impressão de Etiqueta]**\n","operationId":"excluir_2","parameters":[{"name":"parcelamentoImpressaoEtiquetaKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/seguranca/usuarios/{usuarioKey}":{"get":{"tags":["Usuários"],"summary":"Obter usuário cadastrado","description":"Obter o cadastro de um usuário\n\nPermissões necessárias:\n- **[2.566 - Consultar Usuários via API]**\n","operationId":"obter_5","parameters":[{"name":"usuarioKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UsuarioView"}}}}}},"put":{"tags":["Usuários"],"summary":"Atualizar usuário","description":"Atualizar um usuário existente\n\nPermissões necessárias:\n- **[2.568 - Alterar Usuários via API]**\n","operationId":"atualizar","parameters":[{"name":"usuarioKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioApiForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"204":{"description":"No Content"}}}},"/fornecedores/contatos/{fornecedorKey}":{"put":{"tags":["Fornecedores"],"summary":"Atualizar contatos fornecedores","description":"Atualizar contatos fornecedores\n\nPermissões necessárias:\n- **[56 - Fornecedores Alterar]**\n","operationId":"editarContatos","parameters":[{"name":"fornecedorKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FornecedorEditarContatoRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FornecedorIncluirResponse"}}}}}}},"/fiscal/regrafiscal/{regraFiscalKey}/encerramento/{dataFinal}":{"put":{"tags":["Regra Fiscal"],"summary":"Encerramento da Vigência","description":"Encerramento de regra fiscal a data deve estar no formato yyyy-MM-dd\n\nPermissões necessárias:\n- **[2.908 - Alterar Regra Fiscal]**\n","operationId":"encerramentoRegraFiscal","parameters":[{"name":"regraFiscalKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"dataFinal","in":"path","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/fiscal/figurafiscal/produto":{"put":{"tags":["Figura Fiscal"],"summary":"Vincular produtos","description":"Vincular produtos na figura fiscal\n\nPermissões necessárias:\n- **[2.901 - Incluir Figura Fiscal]**\n","operationId":"associarProdutoNaFiguraFiscal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiguraFiscalProdutosApiForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}},"delete":{"tags":["Figura Fiscal"],"summary":"Desvincular produtos","description":"Desvincular produtos na figura fiscal\n\nPermissões necessárias:\n- **[2.901 - Incluir Figura Fiscal]**\n","operationId":"dessasociarProdutoNaFiguraFiscal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiguraFiscalProdutosApiForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/financeiro/duplicatas":{"get":{"tags":["Duplicata"],"summary":"Consultar","description":"Consulta de duplicatas, deve checar se o usuário tem permissão para consultar contas a pagar ou receber, na falta da permissão não retornará dados da espécie.\n\nPermissões necessárias:\n- **4.100 - Consultar Contas a Pagar por API** \n- **4.101 - Consultar Contas a Receber por API** \n","operationId":"consultar_31","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/DuplicataConsultarRequest"}},{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponseDuplicata"}}}}}},"put":{"tags":["Duplicata"],"summary":"Atualizar duplicata","description":"Atualizar dados das duplicatas\n\nPermissões necessárias:\n- **324 - Contas a pagar Alterar** OU - **406 - Contas a Receber Alterar** \n","operationId":"atualizar_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicataForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Duplicata"}}}}}},"post":{"tags":["Duplicata"],"summary":"Incluir","description":"Inclusão de duplicatas. Esse endpoint está obsoleto e será removido em 08/2025. Utilize o novo endpoint correspondente: /v2/duplicatas\n\nPermissões necessárias:\n- **323 - Contas a pagar Incluir** OU - **405 - Contas a Receber Incluir** \n","operationId":"incluirDeprecated","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicataForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DuplicataForm"}}}}},"deprecated":true}},"/financeiro/duplicatas/{duplicataKey}/desbloquear":{"put":{"tags":["Duplicata"],"summary":"Desbloquear Duplicata","description":"Desbloquear duplicatas do tipo pagamento\n\nPermissões necessárias:\n- **[3.901 - API Duplicatas (Desbloquear)]**\n","operationId":"desbloquear","parameters":[{"name":"duplicataKey","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Duplicata"}}}}}}},"/financeiro/duplicatas/{duplicataKey}/bloquear":{"put":{"tags":["Duplicata"],"summary":"Bloquear Duplicata","description":"Bloquear duplicatas do tipo pagamento\n\nPermissões necessárias:\n- **[3.900 - API Duplicatas (Bloquear)]**\n","operationId":"bloquear","parameters":[{"name":"duplicataKey","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Duplicata"}}}}}}},"/financeiro/agencias/{agenciaKey}":{"put":{"tags":["Agência"],"summary":"Atualizar agência","description":"Atualizar uma agência existente\n\nPermissões necessárias:\n- **[4.070 - API Agência (Alterar)]**\n","operationId":"atualizarAgencia","parameters":[{"name":"agenciaKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgenciaAtualizarForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/estoques/inventarios/{inventarioKey}/{localDeEstoqueKey}/lotes/{loteKey}":{"get":{"tags":["Lotes de inventário"],"summary":"Obter lote inventário","description":"Obter lotes do inventário","operationId":"obter_15","parameters":[{"name":"inventarioKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"localDeEstoqueKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"loteKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InventarioLoteObterResponse"}}}}}},"put":{"tags":["Lotes de inventário"],"summary":"Atualizar Item no lote","description":"Atualiza a quantidade do item no lote do inventário","operationId":"atualizarItem","parameters":[{"name":"inventarioKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"localDeEstoqueKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"loteKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventarioLoteAtualizarItemRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InventarioLoteObterItemResponse"}}}}}},"post":{"tags":["Lotes de inventário"],"summary":"Adicionar Item no lote","description":"Adicionar item no lote do inventário","operationId":"adicionarItem","parameters":[{"name":"inventarioKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"localDeEstoqueKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"loteKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventarioLoteAdicionarItemRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InventarioLoteObterItemResponse"}}}}}}},"/dp/funcoes/{funcaoKey}":{"put":{"tags":["Funções"],"summary":"Alterar","description":"Alteração de funções\n\nPermissões necessárias:\n- **[3.716 - API Funções (Alterar)]**\n","operationId":"alterar","parameters":[{"name":"funcaoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FuncaoAlterarRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FuncaoConsultarResponse"}}}}}}},"/dp/funcionarios":{"get":{"tags":["Funcionários"],"summary":"Consultar","description":"Consulta de Funcionários\n\nPermissões necessárias:\n- **[36 - Funcionarios Consultar]**\n","operationId":"consultar_49","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"cpf","in":"query","description":"CPF funcionário especifico","required":false,"schema":{"type":"string"}},{"name":"dataUltimaAlteracao","in":"query","description":"Obtém funcionários que foram atualizados a partir desta data, formato 'dd/MM/yyyy'","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"operadoresDeCaixa","in":"query","description":"Filtra/Exclui funcionários que são Operadores de Caixa","required":false,"schema":{"type":"boolean"}},{"name":"fiscaisDeCaixa","in":"query","description":"Filtra/Exclui funcionários que são Fiscais de Caixa","required":false,"schema":{"type":"boolean"}},{"name":"status","in":"query","description":"Filtra/Funcionarios Ativos, Inativos e TODOS","required":false,"schema":{"type":"string","default":"SIM","enum":["TODOS","SIM","NAO"]}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponseFuncionarioConsultarResponse"}}}}}},"put":{"tags":["Funcionários"],"summary":"Atualizar","description":"Atualizar funcionário\n\nPermissões necessárias:\n- **[58 - Funcionarios Alterar]**\n","operationId":"atualizar_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FuncionarioEditarForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FuncionarioEditarForm"}}}}}},"post":{"tags":["Funcionários"],"summary":"Incluir ou Atualizar","description":"Inclusão ou atualização de funcionários\n\nPermissões necessárias:\n- **[47 - Funcionarios Incluir]**\n","operationId":"incluir_16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FuncionarioIncluirForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FuncionarioIncluirForm"}}}}}}},"/convenios/{cpfCnpj}":{"put":{"tags":["Convênio"],"summary":"Atualizar","description":"Atualizar um convênio\n\nPermissões necessárias:\n- **[604 - Convenios Incluir]**\n","operationId":"atualizar_3","parameters":[{"name":"cpfCnpj","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConvenioIncluirForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConvenioResponse"}}}}}}},"/compras/sortimento/margem-loja/produtos/{produtoKey}":{"get":{"tags":["Margem loja"],"summary":"Consultar margens por produto","description":"Consulta de margens por produto\n\nPermissões necessárias:\n- **[3.991 - API Margem Loja (Consultar)]**\n","operationId":"consultarPorProduto","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MargemLojaObterResponse"}}}}}}},"put":{"tags":["Margem loja"],"summary":"Alterar as margens de um produto nas lojas","description":"Alterar as margens de um produto em uma ou mais lojas\n\nPermissões necessárias:\n- **[3.992 - API Margem Loja (Alterar)]**\n","operationId":"editarMargemLojaProduto","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MargemLojasRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/compras/recebimentocargas/{movimentacaoCargaKey}":{"put":{"tags":["Recebimento de Carga"],"summary":"Atualizar carga","description":"Atualizar carga","operationId":"atualizar_4","parameters":[{"name":"movimentacaoCargaKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtualizarRecebimentoCargaForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AtualizarRecebimentoCargaForm"}}}}}}},"/compras/cadastro/manutencao-margem-regioes-preco/{produtoKey}":{"put":{"tags":["Manutenção de margem por região de preço"],"summary":"Editar margem por regiao","description":"Edita a margem de um produto por região\n\nPermissões necessárias:\n- **[3.998 - API Manutenção margem regiões de preço (Alterar)]**\n","operationId":"salvarMargemPorRegiao","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManutencaoMargemPorRegiaoRequestForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/comercial/produtos/{produtoKey}":{"get":{"tags":["Produto"],"summary":"Obter produto","description":"Obter os detalhes de um produto\n\nPermissões necessárias:\n- **[38 - Produtos Consultar]**\n","operationId":"obter_21","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoObterResponse"}}}}}},"put":{"tags":["Produto"],"summary":"Atualizar produto","description":"Atualizar dados de produto\n\nPermissões necessárias:\n- **[60 - Produtos Alterar]**\n","operationId":"atualizar_5","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoAtualizarRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoObterResponse"}}}}}}},"/comercial/produtos/{produtoKey}/produtoecommerce":{"put":{"tags":["Produto e-commerce"],"summary":"Atualizar produto e-commerce","description":"Atualizar dados de e-commerce do produto\n\nPermissões necessárias:\n- **[2.642 - API Produto E-commerce (Editar)]**\n","operationId":"atualizar_6","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}}}}},"post":{"tags":["Produto e-commerce"],"summary":"Incluir produto e-commerce","description":"Cadastrar as informações de e-commerce do produto\n\nPermissões necessárias:\n- **[2.641 - API Produto E-commerce (Incluir)]**\n","operationId":"incluir_26","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}}}}}},"/comercial/produtos/{produtoKey}/caixas/{produtoCaixaKey}":{"put":{"tags":["Produto"],"summary":"Atualizar caixa","description":"API para atualizar caixas de produtos\n\nPermissões necessárias:\n- **[60 - Produtos Alterar]**\n","operationId":"atualizar_7","parameters":[{"name":"produtoKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"produtoCaixaKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoCaixaForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoCaixaForm"}}}}}}},"/comercial/produtos/gtin/{gtin}":{"get":{"tags":["Produto"],"summary":"Obter produto por gtin","description":"Obter os detalhes de um produto usando o GTIN\n\nPermissões necessárias:\n- **[38 - Produtos Consultar]**\n","operationId":"obterUsandoGtin","parameters":[{"name":"gtin","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoObterResponse"}}}}}},"put":{"tags":["Produto"],"summary":"Atualizar por GTIN","description":"Atualizar dados de produto usando o GTIN\n\nPermissões necessárias:\n- **[60 - Produtos Alterar]**\n","operationId":"atualizarUsandoGtin","parameters":[{"name":"gtin","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoAtualizarRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoObterResponse"}}}}}}},"/comercial/produtos/codigo-integracao/{codigoIntegracao}":{"get":{"tags":["Produto"],"summary":"Obter produto por código de integração","description":"Obter os detalhes de um produto usando o Código de Integração\n\nPermissões necessárias:\n- **[38 - Produtos Consultar]**\n","operationId":"obterUsandoCodigoIntegracao","parameters":[{"name":"codigoIntegracao","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoObterResponse"}}}}}},"put":{"tags":["Produto"],"summary":"Atualizar por código de integração","description":"Atualizar dados de produto usando o código de integração\n\nPermissões necessárias:\n- **[60 - Produtos Alterar]**\n","operationId":"atualizarUsandoCodigoIntegracao","parameters":[{"name":"codigoIntegracao","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoAtualizarRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoObterResponse"}}}}}}},"/comercial/caixas/{produtoCaixaKey}/produtoecommerce":{"put":{"tags":["Produto e-commerce"],"summary":"Atualizar produto caixa e-commerce","description":"Atualizar dados de e-commerce da caixa\n\nPermissões necessárias:\n- **[2.642 - API Produto E-commerce (Editar)]**\n","operationId":"atualizar_8","parameters":[{"name":"produtoCaixaKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}}}}},"post":{"tags":["Produto e-commerce"],"summary":"Incluir produto caixa e-commerce","description":"Cadastrar as informações de e-commerce da caixa\n\nPermissões necessárias:\n- **[2.641 - API Produto E-commerce (Incluir)]**\n","operationId":"incluir_29","parameters":[{"name":"produtoCaixaKey","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProdutoEcommerceForm"}}}}}}},"/clientes/{documento}":{"put":{"tags":["Clientes"],"summary":"Atualizar um cliente","description":"Atualizar um cliente existente\n\nPermissões necessárias:\n- **[8 - Clientes Alterar]**\n","operationId":"atualizar_9","parameters":[{"name":"documento","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteIncluirForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClienteIncluirForm"}}}}}}},"/wms/lotes-logisticos/importar":{"post":{"tags":["Lotes Logisticos"],"summary":"Importar Lotes Logisticos","description":"Importar lotes logisticos. Observação: Para geração automática dos lotes, o parâmetro 'Gerar lote automático na importação de lotes logísticos' deve estar ativado.","operationId":"importarLotesLogisticos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportacaoLoteLogisticoForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultadoImportacaoResponse"}}}}}}},"/wms/externo/loteslogisticos/cancelamento":{"post":{"tags":["Lotes Logisticos"],"summary":"Cancelar item estoque reservado","description":"Cancelar itens do estoque reservado\n\nPermissões necessárias:\n- **[1.630 - Distribuição Forçada por Loja]**\n","operationId":"cancelarItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogisticaLoteCancelamentoForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/wms/externo/faturamento/lotes":{"get":{"tags":["Faturamento de lote"],"summary":"Consultar lotes para faturamento","description":"Consultar lotes para faturamento\n\nPermissões necessárias:\n- **[4.043 - API Faturamento de Lotes (Consultar)]**\n","operationId":"consultar_3","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/FaturamentoLoteRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponseFaturamentoLoteResponse"}}}}}},"post":{"tags":["Faturamento de lote"],"summary":"Faturar lote","description":"Faturamento de lotes\n\nPermissões necessárias:\n- **[4.044 - API Faturamento de Lotes (Incluir)]**\n","operationId":"faturarLote","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaturamentoLoteCommand"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaturamentoLoteRequestResponse"}}}}}}},"/wms/externo/estoque/desbloqueio":{"post":{"tags":["Desbloqueio de Estoque"],"summary":"Desbloquear estoque","description":"Desbloquear estoque\n\nPermissões necessárias:\n- **[3.234 - Desbloqueio de Estoque via Api Externa]**\n","operationId":"desbloquearEstoqueDoProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesbloqueioEstoqueForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/wms/externo/estoque/bloqueio":{"post":{"tags":["Bloqueio de Estoque"],"summary":"Bloquear estoque","description":"Bloquear estoque\n\nPermissões necessárias:\n- **[3.230 - Bloqueio de Estoque via Api Externa]**\n","operationId":"bloquearEstoqueDoProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BloqueioEstoqueForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/wms/externo/cargasexternas":{"post":{"tags":["Cargas Externas"],"summary":"Criar carga externas","description":"Criar cargas externas.\n\nPermissões necessárias:\n- **[1.630 - Distribuição Forçada por Loja]**\n","operationId":"criarLotesExternos","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CargaExternaForm"}}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/wms/enderecamento-de-paletes":{"get":{"tags":["Endereçamento de paletes"],"summary":"Consultar endereçamento de paletes","description":"Consultar paletes para endereçamento\n\nPermissões necessárias:\n- **[3.923 - API Enderecamento Paletes (Consultar)]**\n","operationId":"listarPaleteParaEnderecamento","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/EnderecamentoPaletesRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponseEnderecamentoPaletesResponse"}}}}}},"post":{"tags":["Endereçamento de paletes"],"summary":"Endereçamento de paletes","description":"Endereçamento de paletes\n\nPermissões necessárias:\n- **[3.924 - API Enderecamento Paletes (Alterar)]**\n","operationId":"enderecamentoPalete","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnderecamentoPaletesForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnderecamentoPaletesResponse"}}}}}}}},"/wms/ajuste-estoque-logistico":{"get":{"tags":["Ajuste estoque logistico"],"summary":"Consulta ajuste estoque logistico","description":"Listar estoques para ajuste\n\nPermissões necessárias:\n- **[3.922 - API Ajuste de estoque logistico (Consultar)]**\n","operationId":"listarAjusteEstoque","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AjusteEstoqueLogisticoRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AjusteEstoqueLogisticoResponse"}}}}}}},"post":{"tags":["Ajuste estoque logistico"],"summary":"Ajustar quantidade estoque logistico","description":"Ajusta a quantidade no estoque logistico\n\nPermissões necessárias:\n- **[3.918 - API Ajuste de estoque logistico (Alterar)]**\n","operationId":"salvarAjuste","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AjusteEstoqueLogisticoApiForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AjusteEstoqueLogisticoResponse"}}}}}}}},"/vendas/voucher-devolucao/empenho":{"post":{"tags":["Voucher de Crédito"],"summary":"Empenhar voucher de crédito","description":"Realiza o empenho de um voucher de crédito\n\nPermissões necessárias:\n- **[3.202 - API - Empenhar Voucher de Crédito]**\n","operationId":"empenhar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmpenhoVoucherForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/vendas/voucher-devolucao/confirmacao-empenho":{"post":{"tags":["Voucher de Crédito"],"summary":"Confirmar empenho voucher de crédito","description":"Confirma o empenho de um voucher de crédito\n\nPermissões necessárias:\n- **[3.203 - API - Confirmar Empenho de Voucher de Crédito]**\n","operationId":"confirmarEmpenho","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizarEmpenhoForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/vendas/voucher-devolucao/cancelamento-empenho":{"post":{"tags":["Voucher de Crédito"],"summary":"Cancelar empenho de voucher de crédito","description":"Cancela o empenho de um voucher de crédito\n\nPermissões necessárias:\n- **[3.204 - API - Cancelar Empenho de Voucher de Crédito]**\n","operationId":"cancelarEmpenho","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizarEmpenhoForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/vendas/promocoes":{"get":{"tags":["Promoções"],"summary":"Consultar","description":"Consultar as promoções\n\nPermissões necessárias:\n- **[3.577 - Consultar Promoção via API]**\n","operationId":"consultar_6","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PromocoesConsultarRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponsePromocoesConsultarReponse"}}}}}},"post":{"tags":["Promoções"],"summary":"Incluir","description":"Incluir promoções\n\nPermissões necessárias:\n- **[3.578 - Incluir Promoção via API]**\n","operationId":"incluir","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromocaoIncluirRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromocaoIncluirRequest"}}}}}}},"/vendas/precos":{"get":{"tags":["Preços"],"summary":"Consultar preços","description":"Consultar os preços. É necessário preencher pelo menos o produtoKey ou a lojaKey\n\nPermissões necessárias:\n- **[3.089 - Consultar API de preços]**\n","operationId":"consultar_7","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PrecosConsultarRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponsePrecosConsultarResponse"}}}}}},"post":{"tags":["Preços"],"summary":"Atualizar preços","description":"Atualizar os preços\n\nPermissões necessárias:\n- **[3.149 - API Preço de Venda (Alterar)]**\n","operationId":"atualizar_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecosAtualizarRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrecosAtualizarRequest"}}}}}}},"/vendas/precos/packvirtual":{"get":{"tags":["Pack Virtual"],"summary":"Consultar packs virtuais","description":"Consultar os packs virtuais\n\nPermissões necessárias:\n- **[3.194 - API Pack Virtual (Consultar)]**\n","operationId":"consultar_8","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PackVirtualConsultarRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponsePackVirtualConsultarResponse"}}}}}},"post":{"tags":["Pack Virtual"],"summary":"Incluir pack virtual","description":"Incluir um novo pack virtual\n\nPermissões necessárias:\n- **[3.154 - API Pack Virtual (Incluir)]**\n","operationId":"incluir_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackVirtualIncluirRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PackVirtualIncluirResponse"}}}}}}},"/vendas/precos/ofertas":{"get":{"tags":["Preços"],"summary":"Consultar Ofertas","description":"Consultar as ofertas.\n\nPermissões necessárias:\n- **[3.089 - Consultar API de preços]**\n","operationId":"consultarOfertas","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PrecosConsultarOfertaRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponseOfertaConsultarResponse"}}}}}},"post":{"tags":["Preços"],"summary":"Atualizar Ofertas","description":"Atualizar os preços de oferta\n\nPermissões necessárias:\n- **[3.152 - API Preço de Venda (Alterar ofertas)]**\n","operationId":"atualizarOferta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecosAtualizarOfertasRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrecosAtualizarOfertasRequest"}}}}}}},"/vendas/precos/ofertas/inativar":{"post":{"tags":["Preços"],"summary":"Inativar Oferta","description":"Inativar uma oferta.\n\nPermissões necessárias:\n- **[3.152 - API Preço de Venda (Alterar ofertas)]**\n","operationId":"inativarOferta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecosInativarOfertaRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/vendas/precos/ofertas-fidelidade":{"get":{"tags":["Preços"],"summary":"Consultar Ofertas Fidelidade","description":"Consultar as ofertas fidelidade.\n\nPermissões necessárias:\n- **[3.089 - Consultar API de preços]**\n","operationId":"consultarOfertasFidelidade","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PrecosConsultarOfertaRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponseOfertaConsultarResponse"}}}}}},"post":{"tags":["Preços"],"summary":"Atualizar Ofertas Fidelidade","description":"Atualizar os preços de oferta fidelidade\n\nPermissões necessárias:\n- **[3.278 - API Preço de Venda (Alterar ofertas fidelidade)]**\n","operationId":"atualizarOfertaFidelidade","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecosAtualizarOfertasFidelidadeRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrecosAtualizarOfertasFidelidadeRequest"}}}}}}},"/vendas/precos/ofertas-fidelidade/inativar":{"post":{"tags":["Preços"],"summary":"Inativar Oferta Fidelidade","description":"Inativar uma oferta fidelidade.\n\nPermissões necessárias:\n- **[3.278 - API Preço de Venda (Alterar ofertas fidelidade)]**\n","operationId":"inativarOfertaFidelidade","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecosInativarOfertaRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK"}}}},"/vendas/nota-fiscal/venda/cliente-comum/calculo-imposto":{"post":{"tags":["Consulta imposto venda"],"summary":"Consultar","description":"Consulta Imposto Orgão Público","operationId":"consultar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultaImpostoVendaApiRequest"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaImpostoVendaApiResponse"}}}}}}},"/venda/pedidovenda":{"get":{"tags":["Pedido de venda balcão"],"summary":"Consultar pedido de venda","description":"Consultar pedidos de venda\n\nPermissões necessárias:\n- **[4.109 - API Pedido Venda (Consultar)]**\n","operationId":"consultar_11","parameters":[{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pagination"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PedidoVendaConsultarRequest"}}],"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em contato com o suporte.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginationResponsePedidoVendaObterResponse"}}}}}},"post":{"tags":["Pedido de venda balcão"],"summary":"Incluir pedido venda","description":"Incluir um pedido de venda\n\nPermissões necessárias:\n- **[4.110 - API Pedido Venda (Incluir)]**\n","operationId":"gerarPedidoVenda","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoVendaExternaForm"}}},"required":true},"responses":{"401":{"description":"Não autorizado, credenciais inválidas.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"404":{"description":"Recurso não encontrado.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"400":{"description":"Requisição inválida, existem erros de validação.","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Problem"},{"$ref":"#/components/schemas/ProblemModel"}]}}}},"409":{"description":"O recurso já existe ou está em execução.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"422":{"description":"Regra de negócio inválida, existem erros de validação.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemModel"}}}},"500":{"description":"Erro inesperado, entre em con
[...]
